starlette
cryptography


python-multipart
pyzmq

# Network Layer
scapy
NetfilterQueue
requests

# Image Analysis (Vision AI)
torch --index-url https://download.pytorch.org/whl/cpu
transformers
ultralytics
pytesseract
Pillow
numpy

# Document Analysis
pdfminer.six
yara-python

# Text Analysis & NLP
spacy
presidio-analyzer
presidio-anonymizer
tree-sitter
semgrep
sentence-transformers

# Utilities
python-dateutil
psutil